config.php
.DS_Store
.vscode/
ui/ui/compiled
ui/compiled/*.php
ui/cache/*.php
test.php
sms.php
pages/
system/cache/**
system/plugin/*
!system/cache/index.html
!system/plugin/index.html
system/paymentgateway/ui/**
system/paymentgateway/**
!system/paymentgateway/ui/
!system/paymentgateway/ui/index.html
!system/paymentgateway/index.html
!system/plugin/ui/
system/plugin/ui/*
!system/plugin/ui/index.html
ui/ui_custom/**
!ui/ui_custom/index.html
!ui/ui_custom/README.md
system/uploads/**
!system/uploads/*.default.png
system/uploads/sms/**
!system/uploads/sms/index.html
system/uploads/system/**
!system/uploads/system/index.html
ui/themes/**
!ui/themes/index.html
!ui/themes/README.md
scanLang.php
system/lan/**
!system/lan/index.html
!system/lan/indonesia.json
!system/lan/spanish.json
!system/lan/turkish.json
!system/lan/english.json
!system/lan/country.json
*.zip