<Files *.php>
    Order Deny,Allow
    Deny from all
</Files>

<Files cron.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files api.php>
    Order Allow,Deny
    Allow from all
</Files>

<Files cron_reminder.php>
    Order Allow,Deny
    Allow from all
</Files>